.brandsPageHero {
  width: 100%;
  height: 17.2rem;
  background: #1c141f;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: #fff;
    text-align: center;
    font-family: "Noto Serif Display";
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 3.8rem */
    letter-spacing: 0.076rem;
    text-transform: uppercase;
  }
}

.brandsPage {
  padding-top: 9.5rem;
  padding-bottom: 11.2rem;
  .brandsPageItems {
    display: flex;
    gap: 5.6rem;
    flex-direction: column;
  }
  .brandsPageItem {
    margin: 0 3.7rem;
    .brandsPageImg {
      width: 62.2rem;
      width: 100%;
      height: 29.1rem;
      border-radius: 1.2rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .brandsPageContent {
      margin-left: 4rem;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      padding: 4.1rem 0 2.8rem;
      span {
        color: #000;
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 3.36rem */
        letter-spacing: -0.056rem;
      }
      p {
        color: var(--Gray-800, #313f49);
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 180%; /* 2.52rem */
        opacity: 0.6;
      }
      button {
        display: flex;
        height: 4rem;
        justify-content: center;
        align-items: center;
        width: 15rem;
        border-radius: 0.8rem;
        border: 1px solid #111;
        background: #111;
        margin-top: 2.4rem;
        color: #fff;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.4rem; /* 171.429% */
      }
    }
  }
}
.brandsPageLine {
  width: 100%;
  height: 0.1rem;
  background: #e1d8ca;
}

//! Mobile
@media only screen and (max-width: 767.9px) {
  .brandsPageItem{
    margin: 0 1.5rem !important;
  }
  .brandsPageContent {
    margin-left: 0rem !important;
  }
}
//! Mobile
