.cartPageHero {
  width: 100%;
  height: 17.2rem;
  background: #1c141f;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: #fff;
    text-align: center;
    font-family: "Noto Serif Display";
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 3.8rem */
    letter-spacing: 0.076rem;
    text-transform: uppercase;
  }
}
.cartPage {
  .cartPageLeftItems {
    padding-top: 7.8rem;
    h2 {
      color: var(--Secondary-06, #1c1c1c);
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 3.6rem; /* 163.636% */
      text-transform: uppercase;
      text-align: center;
    }
    .cartPageLeftItemsSearch {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span {
        color: #000;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 2.64rem */
        letter-spacing: -0.044rem;
      }

      p {
        color: #000;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem; /* 171.429% */
        letter-spacing: -0.014rem;
        opacity: 0.5;
      }

      /* Yeni wrapper – input + X icon */
      .cartPageLeftItemsSearchInput {
        margin-top: 2rem;
        width: 74.9rem;
        height: 4.3rem;
        position: relative;
      }

      .cartPageLeftItemsSearchInput input {
        font-family: "Inter", sans-serif !important;
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
        border: 1px solid #dbdbdb;
        background-color: transparent;
        padding: 0 4rem 0 2rem; // soldan 2rem, X üçün sağda əlavə yer
        color: #000;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2rem;
        letter-spacing: -0.028rem;

        &::placeholder {
          color: #000;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 500;
          line-height: 2rem; /* 142.857% */
          letter-spacing: -0.028rem;

          opacity: 0.6;
        }
      }

      .cartPageLeftItemsSearchClear {
        position: absolute;
        right: 2rem; // sağdan 2rem
        top: 50%;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem; // ikon ölçüləri 2rem x 2rem
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
      }
    }
    .guesUserFormSection {
      padding: 4rem 0 6.5rem;
    }
  }
}
.getUserAddressSection {
  padding: 6.4rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.guestUserForm {
  width: 75.5rem;

  .guestUserFormTopLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;

    span {
      color: #000;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 2.64rem */
      letter-spacing: -0.044rem;
    }

    p {
      color: #3a3a3a;
      text-align: center;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 1.4rem */
      letter-spacing: -0.014rem;

      a {
        margin-left: 1rem;
        color: #3a3a3a;
        text-align: center;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 1.4rem */
        letter-spacing: -0.014rem;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: 0.1rem;
        text-underline-position: from-font;
      }
    }
  }

  .guestUserFormSector {
    border-radius: 0.4rem;
    border: 1px solid #dbdbdb;
    background: #f9f7f3;
    width: 75.5rem;
    // height: 23.3rem;

    .guestUserFormSectorItem {
      padding: 3.6rem;

      .guestUserFormForm {
        display: flex;
        flex-direction: column;
        gap: 3rem; // sətirlər arası məsafə

        .guestUserFormRow {
          display: flex;
          gap: 1.9rem;
          //   gap: 1.9rem; // inputların ara məsafəsi 1.9rem
        }

        .floatingInput {
          position: relative;
          width: 100%;
          input {
            width: 100%;
            height: 5.4rem; // verdiyin ölçü
            border-radius: 0.4rem;
            border: 1px solid #dbdbdb;
            background: transparent;
            padding: 1.6rem 1.2rem 0.8rem;
            font-size: 1.4rem;
            outline: none;

            &::placeholder {
              color: transparent; // floating label üçün
            }
          }

          label {
            position: absolute;
            left: 1.2rem;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 0.4rem;
            background: #f9f7f3;
            transition: all 0.18s ease-in-out;

            color: #000;
            font-family: "Noto Serif Display";
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          input:focus + label,
          input:not(:placeholder-shown) + label {
            top: 0;
            transform: translateY(-50%);
            font-size: 1.1rem;
            color: #681616;
          }

          input:focus {
            border-color: #681616;
          }
        }
      }
    }
  }
}
.basketProducts {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  .cartPageLeftItemsProductsLine {
    width: 78rem;
    height: 0.1rem;
    background: #DBDBDB;
  }
}
.cartPageLeftItemsProducts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .cartPageLeftItemsProductsLeft {
    display: flex;
    gap: 3.2rem;
    .cartPageLeftItemsProductsLeftImg {
      width: 11.8rem;
      height: 11.8rem;
      aspect-ratio: 1/1;
      border-radius: 0.8rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
      }
    }
    .cartPageLeftItemsProductsLeftTitle {
      margin-top: 0.8rem;

      span {
        color: #000;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 3rem; /* 166.667% */
        letter-spacing: -0.055rem;
      }
      p {
        color: #000;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem; /* 142.857% */
        letter-spacing: -0.04rem;
        span {
          color: #000;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: 2rem; /* 142.857% */
          letter-spacing: -0.04rem;
        }
      }

      .cartPageLeftItemsProductsLeftTitleCountUp {
        width: 10rem;
        height: 3.2rem;
        border-radius: 0.5795rem;
        border: 1px solid #e0dddb;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1.3rem;
        gap: 2rem;
        margin-top: 1.2rem;

        button {
          background: transparent;
          border: none;
          color: #000;
          font-size: 1.3909rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 0.0695rem;
          text-transform: uppercase;
          cursor: pointer;
          padding: 0;
        }

        span {
          color: #000;
          font-size: 1.3909rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 0.0695rem;
          text-transform: uppercase;
        }
      }
    }
  }

  .cartPageLeftItemsProductsRight {
    display: flex;
    gap: 1.4rem;

    .cartPageLeftItemsProductsRightPriceSector {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 1rem;
    }
    a {
      //   margin-bottom: 1rem;
      span {
        color: #000;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem; /* 142.857% */
        letter-spacing: -0.04rem;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: 0.2rem;
        text-underline-position: from-font;
      }
    }
    .cartPageLeftItemsProductsRightOldPrice {
      color: #202020;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.7289rem; /* 132.993% */
      letter-spacing: 0.013rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      span {
        color: #202020;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.7289rem; /* 132.993% */
        letter-spacing: 0.013rem;
        opacity: 0.5;

        text-decoration-line: line-through;
        text-decoration-color: #595959;
        text-decoration-thickness: 0.1rem;
        text-decoration-skip-ink: none; // xətt tam ortadan getsin
      }

      p {
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .cartPageLeftItemsProductsRightNewPrice {
      display: flex;
      gap: 1.4rem;
      align-items: center;
      justify-content: center;
      span {
        color: #000;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 3rem; /* 136.364% */
        letter-spacing: -0.055rem;
      }
      .cartPageLeftItemsProductsRightDiscount {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12.2rem;
        height: 3.2rem;
        border-radius: 0.7941rem;
        background: #681616;
        color: #fff;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 141.996%; /* 1.562rem */
        letter-spacing: 0.044rem;
        span {
          color: #fff;
          font-size: 1.1rem;
          font-style: normal;
          font-weight: 700;
          line-height: 141.996%; /* 1.562rem */
          letter-spacing: 0.044rem;
        }
      }
    }
    .cartPageLeftItemsProductsRightDelete {
      margin-left: 5.03rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
