.productPageHero {
  width: 100%;
  height: 17.2rem;
  background: #1c141f;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: #fff;
    text-align: center;
    font-family: "Noto Serif Display";
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 3.8rem */
    letter-spacing: 0.076rem;
    text-transform: uppercase;
  }
}

.productPageDetails {
  padding-top: 5.3rem;
  .productPageDetailsHeader {
    border-bottom: 0.1rem solid #efe9f0;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .productPageDetailsHeaderLeft {
      display: flex;
      gap: 3.9rem;
      align-items: center;
      span {
        color: #000;
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      p {
        color: #000;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 600;
        opacity: 0.4;
        line-height: normal;
        strong {
          color: #000;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
  }
  .productPageLayout {
    padding-top: 3.3rem;
    .productPageLayoutRight {
      .productPageLayoutRightBanner {
        height: 30rem;
        flex-shrink: 0;
        border-radius: 1.2rem;
        img {
          width: 100%;
          height: 100%;
          border-radius: 1.2rem;
        }
      }
      .productPageLayoutRightCards {
        padding-top: 3rem;
        .productPageLayoutRightCardsPagination {
          .productPageLayoutRightCardsPaginationItem {
            padding-top: 3.2rem;
            padding-bottom: 9.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            .paginationArrow {
              width: 4rem;
              height: 4rem;
              border-radius: 50%;
              background: transparent;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: all 0.2s ease;

              &:hover {
                border-color: #681616;
              }
            }

            .paginationPages {
              display: flex;
              align-items: center;
              gap: 1.2rem; // bütün dairələr arasında 1.2rem
            }

            .paginationItem {
              width: 4rem;
              height: 4rem;
              border-radius: 50%;
              border: 1px solid #d9d9d9;
              background: transparent;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.6rem;
              font-weight: 500;
              color: #000;
              cursor: pointer;
              transition: all 0.2s ease;

              &.active {
                background: #681616;
                border-color: #681616;
                color: #fff;
              }

              &:hover:not(.active) {
                border-color: #681616;
              }
            }

            .paginationDots {
              font-size: 2rem;
              width: 4rem;
              height: 4rem;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }

    .productPageLayoutLeft {
      padding-right: 3.9rem;
    }
  }
}
@media only screen and (max-width: 767.9px) {
  .productPageDetailsHeaderLeft {
    display: flex;
    gap: 2rem !important;
    align-items: center;
  }
}
.sortBy {
  display: flex;
  align-items: center;

  span {
    color: #2b2e32;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.024rem;
    p {
      font-size: 1.2rem;
      //   width: 2.4rem;
      //   height: 2.4rem;
    }
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  .ant-select {
    display: inline-flex;
    align-items: center;
    width: fit-content;
  }
  .ant-select-content {
    color: #000;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.024rem;
    opacity: 0.6;
  }
}

.filterAccordion {
  .filterAccordionLine {
    background: #e9e1ea;
    height: 0.1rem;
    width: 100%;
  }
}

.ant-collapse {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
.ant-collapse-header {
  color: #000 !important;
  font-family: "Inter", sans-serif !important;
  font-size: 1.4rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  padding: 0rem !important;
}
.ant-collapse-body {
  padding: 0rem !important;
}

.filterAccordionContent {
  position: relative;
  height: 30rem;
  .filterAccordionScroll {
    height: 100%;
    overflow-y: auto;
    padding-right: 0.8rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    ul {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      align-items: flex-start;
      li {
        cursor: pointer;
        color: #3a3a3a;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  .filterAccordionCustomScrollbar {
    position: absolute;
    top: 2rem; // 🔹 Normal accordion üçün
    right: 0;
    bottom: 0;
    width: 0.2rem;
    display: flex;
    justify-content: flex-start;
  }
  .filterAccordionCustomThumb {
    width: 100%;
    background: #681616;
    border-radius: 2rem;
    transform: translateY(0);
    transition: transform 0.1s linear;
  }
}

.filterAccordionContentSearch {
  .filterAccordionSearch {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-radius: 0.7rem;
    border: 1px solid #ddd;
    input {
      border: none;
      outline: none;
      background-color: transparent;
      color: #a5a5a5;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-left: 1.2rem;
      letter-spacing: -0.014rem;
      &::placeholder {
        color: #a5a5a5;
      }
    }
    p {
      width: 1.6rem;
      height: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.2rem;
    }
  }
  .searchUL {
    li {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      .searchCheck {
        margin-right: 1.4rem;
      }
    }
  }

  // 🔹 Search olan accordion üçün: scroll bu blokun ALTINDAN başlayır
  .filterAccordionScroll {
    height: calc(100% - 6rem);
    // 2rem (margin-top) + 4rem (search height) ≈ 6rem
  }
  // 🔹 Search olan accordion üçün scrollbar track bir az aşağıdan startsın
  .filterAccordionCustomScrollbar {
    top: 5rem;
  }
}

//!   Product Detail Page ------------------------------------------------------------

.productDetailPage {
  padding-top: 2.9rem;
  .productDetailPageLeft {
    // width: 72.9rem;
    width: 100%;
    height: 72.9rem;
    padding-right: 2.5rem;
  }
  .productDetailPageRight {
    .productDetailPageRightTop {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2.4rem;
      h1 {
        padding-top: 4rem;
        color: #202020;
        font-family: "Noto Serif Display";
        font-size: 4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 4rem */
        letter-spacing: -0.08rem;
        text-transform: uppercase;
      }
      p {
        width: 75%;
        color: #222;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 2.24rem */
      }
      .productDetailPageRightTopPriceBasket {
        padding-top: 0.9rem;
        display: flex;
        align-items: center;
        gap: 1.3rem;
        .productDetailPageRightTopPrice {
          height: 5.6rem;
          border-radius: 0.8rem;
          background: #f0e6e6;
          display: flex;
          align-items: center;
          gap: 3.5rem;
          .productDetailPageRightTopNewPrice {
            color: #681616;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.1918rem; /* 91.323% */
            letter-spacing: -0.048rem;
            margin-left: 2.7rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            p {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .productDetailPageRightTopOldPrice {
            color: #681616;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2.1918rem; /* 146.117% */
            letter-spacing: 0.015rem;
            margin-right: 2.7rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              height: 0.244rem;
              background: #ab1d1d; // productCardOldPrice-dakı rənglə eyni
              opacity: 1;
              pointer-events: none;
            }

            p {
              display: flex;
              align-items: center;
              justify-content: center;
              // opacity: 0.3; // mətni bir az solğun elədik
            }

            span {
              // opacity: 0.3;
              text-decoration: none;
            }
          }
        }
        .productDetailPageRightTopBasket {
          width: 28.8rem;
          height: 5.6rem;
          border-radius: 0.8rem;
          background: #000;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          button {
            width: 100%;
            // margin: 0 2rem;
            border-radius: 0.8rem;
            background: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            gap: 1rem;
          }
          strong {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          span {
            color: #fff;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2.0117rem; /* 143.69% */
            letter-spacing: 0.014rem;
            text-transform: uppercase;
          }
        }
      }
    }
    .productDetailPageRightSetting {
      margin-top: 5.9rem;
    }
  }

  .productDetailPageShareLiks {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 2.5rem 0 4.5rem;

    span {
      color: #3a3a3a;
      font-size: 1.6104rem;
      font-style: normal;
      font-weight: 400;
      line-height: 116.1%; /* 1.8697rem */
      letter-spacing: -0.0161rem;
    }

    ul {
      display: flex;
      gap: 1.61rem;
      align-items: center;

      button {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3.7163rem;
        border: 1.239px solid #d9d9d9;
        min-width: 13.7rem;
        height: 4.2rem;
        color: #3a3a3a;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 116.1%; /* 1.5093rem */
        letter-spacing: -0.013rem;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-right: 1rem;
        }
      }
      .productDetailPageShareCopied {
        font-size: 1.3rem;
        font-weight: 500;
        color: #681616;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      .productDetailPageShareCopied.visible {
        opacity: 1;
      }
    }
  }
}
.productDetailPageRightSettingItems {
  ul {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    li {
      display: flex;
      gap: 3.4rem;
      span {
        min-width: 15rem;
        color: #222;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 1.96rem */
      }
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        color: #222;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 1.96rem */
        a {
          color: #222;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 500;
          line-height: 140%; /* 1.96rem */
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-skip-ink: none;
          text-decoration-thickness: auto;
          text-underline-offset: 0.1rem;
          text-underline-position: from-font;
        }
        strong {
          color: #222;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
        }
      }
      .productDpValueSize {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        button {
          border-radius: 0.8rem;
          border: 1px solid #f2eee7;
          height: 4rem;
          width: 9.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background: transparent;
          span {
            color: #222;
            // padding: 1rem 2rem;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 1.96rem */
          }
        }
      }
    }
  }
}
.productDetailPageLeftSlider {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

.productDpSliderSwiper {
  width: 100%;
  height: 100%;
  position: relative; // pagination üçün bazis olsun

  .swiper-button-next,
  .swiper-button-prev {
    margin-right: 2rem;
    color: #000;
    width: 5.3rem;
    height: 5.3rem;
    border-radius: 50%;
    background-image: url("../../../public/icons/ellips2.svg");
    background-repeat: no-repeat;
    background-position: center;

    // ortadan götürürük, aşağı salırıq
    top: auto;
    bottom: 2.5rem;
    transform: translateY(0);
  }
  .swiper-button-prev {
    margin-left: 2rem !important;
  }
  .swiper-navigation-icon {
    width: 1.6rem;
    height: 1.6rem;
  }
  .swiper-pagination {
    position: absolute;
    bottom: 4.1rem !important;
    left: 50%;
    transform: translateX(-50%);
    width: auto !important; // full width almasın
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
  }
  .swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
    background: #c4c4c4;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: #711111;
    width: 1.2rem;
    height: 1.2rem;
  }

  .productDetailPageLeftSliderTopButtons {
    position: absolute;
    top: 2.4rem;
    left: 2.4rem;
    z-index: 2;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    .productDetailPageLeftSliderTopButtonBestSeller {
      border-radius: 0.447rem;
      background: #6b5a5e;
      button {
        border-radius: 0.447rem;
        color: #fff;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.048rem;
        text-transform: uppercase;
        padding: 1.24rem 1.12rem;
        background: #6b5a5e;
      }
    }
    .productDetailPageLeftSliderTopButtonLimited {
      border-radius: 0.447rem;
      background: #252525;
      button {
        border-radius: 0.447rem;
        color: #fff;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.048rem;
        text-transform: uppercase;
        padding: 1.24rem 1.12rem;
        background: #252525;
      }
    }
  }
}

.productDetailPageAccordion {
  margin-top: 5rem;
  .ant-collapse {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  .ant-collapse-header {
    color: #000 !important;
    font-family: "Inter", sans-serif !important;
    font-size: 2rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
    padding: 0rem !important;
  }
  .ant-collapse-body {
    padding: 0rem !important;
  }
  .acordionLineDP {
    background: #efe9f0;
    height: 0.1rem;
  }
  .productDetailPageAccordionContent {
    padding-top: 2rem;
    p {
      color: #222;
      font-size: 1.35rem;
      font-style: normal;
      font-weight: 400;
      line-height: 170%; /* 2.21rem */
      opacity: 0.86;
    }
    .productDetailPageAccordionContentDelivery {
      ul {
        li {
          display: flex;
          gap: 0.5rem;
        }
        display: flex;
        flex-direction: column;
        gap: 3rem;
        span {
          color: #222;
          font-size: 1.3rem;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 1.95rem */
          opacity: 0.86;
        }
        p {
          opacity: 0.86;
          color: #222;
          font-size: 1.3rem;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
        }
      }
    }
    .productDetailPageAccordionContentSpesifications {
      ul {
        li {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          color: #222;
          // font-family: Inter;
          font-size: 1.3rem;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 1.56rem */
        }
        display: flex;
        gap: 2rem;
        flex-direction: column;
      }
    }
    .productDetailPageAccordionContentVideo {
      width: 100%;
      height: 23.5rem;
      border-radius: 0.8rem;
      position: relative;
      img {
        cursor: pointer;
        width: 100%;
        height: 100%;
      }
      .playButton {
        cursor: pointer;
        width: 4.4rem;
        height: 4.4rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.videoPopupOverlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(22, 22, 22, 0.32); // opacity: 0.32
  z-index: 9999;
}

.videoPopupContent {
  position: relative;
  width: 108rem;
  height: 60.1rem;
  border-radius: 4rem;
  background: #161616; // var(--black-100, #161616)
  overflow: hidden;
}

.videoPopupCloseBtn {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #f9f7f3;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.videoPopupInner {
  width: 100%;
  height: 100%;
  /* burda videonu ortala, istəsən flex ilə, və s. */
}

// *mobile

@media only screen and (max-width: 767.9px) {
  .productDetailPageLeft {
    height: 52.9rem !important;
    padding-right: 0 !important;
  }
  .productDetailPageAccordionContentVideo {
    width: 100%;
    height: 23.5rem;
    img {
      object-fit: cover !important;
      border-radius: 0.8rem;
    }
  }
}
