.aboutPageHero {
  width: 144.3rem;
  width: 100%;
  height: 60.4rem;
  img {
    width: 100%;
    height: 100%;
  }
  position: relative;
  .aboutPageHeroTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      color: #fff;
      text-align: center;
      font-family: "Noto Serif Display";
      font-size: 3.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 3.8rem */
      letter-spacing: 0.076rem;
      text-transform: uppercase;
    }
  }
}
.aboutHeroUnderContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13.8rem 0 13.2rem;
  flex-direction: column;
  gap: 2.8rem;
  h2 {
    color: #681616;
    text-align: center;
    font-family: "Noto Serif Display";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 4rem */
    letter-spacing: -0.08rem;
    text-transform: uppercase;
  }
  p {
    color: #222;
    text-align: center;
    opacity: 0.86;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 3.06rem */
    width: 85.7rem;
  }
}
