.aboutPageHero {
  width: 144.3rem;
  width: 100%;
  height: 60.4rem;
  img {
    width: 100%;
    height: 100%;
  }
  position: relative;
  .aboutPageHeroTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      color: #fff;
      text-align: center;
      font-family: "Noto Serif Display";
      font-size: 3.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 3.8rem */
      letter-spacing: 0.076rem;
      text-transform: uppercase;
    }
  }
}
.aboutHeroUnderContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13.8rem 0 13.2rem;
  flex-direction: column;
  gap: 2.8rem;
  h2 {
    color: #681616;
    text-align: center;
    font-family: "Noto Serif Display";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 4rem */
    letter-spacing: -0.08rem;
    text-transform: uppercase;
  }
  p {
    color: #222;
    text-align: center;
    opacity: 0.86;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 3.06rem */
    width: 85.7rem;
  }
}

.aboutPageOurHistory {
  width: 100%;
  .aboutPageOurHistoryItems {
    width: 100%;
    height: 70rem;
    display: flex;
    position: relative;
    .aboutPageOurHistoryLeft {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .aboutPageOurHistoryRight {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .aboutPageOurHistoryItemsContent {
      width: 49.9rem;
      height: 46.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      gap: 3.2rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0.8rem;
      background: #efece8;
      h2 {
        color: #681616;
        text-align: center;
        font-family: "Noto Serif Display";
        font-size: 4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.08rem;
        text-transform: uppercase;
      }
      p {
        margin: 0 6.5rem;
        color: #222;
        text-align: center;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
      }
    }
  }
}
.aboutPageOurCraft {
  background: #5f1a17;
  .aboutPageOurCraftItems {
    padding: 9.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4.3rem;
    h2 {
      color: #e7bdbd;
      text-align: center;
      font-family: "Noto Serif Display";
      font-size: 4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 4rem */
      letter-spacing: -0.08rem;
      text-transform: uppercase;
    }
    .aboutPageOurCraftCards {
      width: 100%;
      .aboutPageOurCraftCard {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        align-items: center;
        justify-content: center;
        .ourCraftCardImg {
          width: 7.1rem;
          height: 7.1rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .ourCraftCardContent {
          width: 26.5rem;
          color: #ececec;
          text-align: center;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 400;
          line-height: 170%;
          opacity: 0.86;
        }
      }
    }
  }
}
.aboutMisionVision {
  border-bottom: 1px solid #eeeae0;

  .aboutMisionVisionItems {
    padding: 9.3rem 0;
    width: 100%;
    .aboutMisionVisionItem {
      width: 100%;
      display: flex;
      gap: 2.5rem;
      flex-direction: column;
      border-radius: 1.2rem;
      background: #f1ede4;
      align-items: flex-start;
      justify-content: center;
      height: 41.8rem;
      padding: 0 5.2rem;
      span {
        color: #000;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 1.92rem */
        letter-spacing: -0.032rem;
      }
      h3 {
        color: #711111;
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 3.36rem */
        letter-spacing: -0.056rem;
      }
      p {
        color: var(--Gray-800, #313f49);
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 180%; /* 2.52rem */
        opacity: 0.6;
      }
    }
  }
}
.aboutPageBrands {
  padding-top: 8.5rem;
  padding-bottom: 6.7rem;
  h3 {
    color: #202020;
    text-align: center;
    font-family: "Noto Serif Display";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 4rem */
    letter-spacing: -0.08rem;
    text-transform: uppercase;
  }
  .brandsLogos {
    padding-top: 3.6rem;
    .brandsLogo {
      width: 100%;
      height: 8.2rem;
      border-radius: 0.8rem;
      border: 1px solid #f0f0f0;
      background: #f4f6f8;
      a {
        border-radius: 0.8rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          color: #545454;
          // font-family: Inter;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}

.aboutPageDirector {
  background: #f9f7f3;
  .aboutPageDirectorItems {
    padding: 7.1rem 0 12rem;
    margin: 0 10.7rem;
    .aboutPageDirectorItemsImage {
      // width: 51.5rem;
      width: 100%;
      height: 50.1rem;
      border-radius: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .aboutPageDirectorItemsContent {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 5rem 0;
      gap: 7.1rem;
      .aboutPageDirectorItemsContentTopContent {
        img {
          width: 2.5rem;
          height: 2rem;
        }
        display: flex;
        gap: 2.4rem;
        flex-direction: column;
        h3 {
          color: #101010;
          font-size: 3.2rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        span {
          color: #101010;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 400;
          line-height: 170%; /* 2.55rem */
          letter-spacing: 0.03rem;
          opacity: 0.55;
          width: 46.2rem;
        }
      }
      .aboutPageDirectorItemsContentBottomContent {
        display: flex;
        flex-direction: column;
        strong {
          color: #000;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          opacity: 0.4;
        }
        p {
          color: #000;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
  }
}
