.accountHero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 19.6rem;
  background: #f3efe7;
  .accountHeroItem {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    width: 130rem;
    max-width: 130rem;
    height: 19.6rem;
  }
  h1 {
    color: #000;
    text-align: center;
    font-family: "Noto Serif Display";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 4rem */
    letter-spacing: -0.08rem;
  }
  p {
    padding-top: 2.45rem;
    color: #3a3a3a;
    text-align: center;
    font-family: "Noto Serif Display";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 1.4rem */
    letter-spacing: -0.014rem;
  }
  .logOut {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 2;
    bottom: 2.4rem;
    left: 1rem;
    cursor: pointer;
    span {
      padding-left: 0.5rem;
      color: #000;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}

@media only screen and (max-width: 767.9px) {
  .accountHero {
    .accountHeroItem {
      width: 100% !important;
    }
    h1 {
      color: #000;
      text-align: center;
      font-family: "Noto Serif Display";
      font-size: 3.2rem !important;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 4rem */
      letter-spacing: -0.08rem;
    }
    .logOut {
      left: -5rem !important;
      cursor: pointer;
      div {
        width: 1.4rem;
        height: 1.4rem;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.account {
  display: flex;
  flex-direction: column;
  .accountTopLinks {
    padding: 3.6rem 0 7.4rem;
  }
}
.accountLinks {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16.8rem;
      padding-bottom: 1.2rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      transition: border-color 0.3s ease;

      a {
        color: #000;
        font-size: 1.4rem;
        opacity: 0.4;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        transition: opacity 0.3s ease, color 0.3s ease;
      }

      &.active {
        border-bottom: 1px solid #000;

        a {
          opacity: 1;
          color: #000;
        }
      }
    }
  }
}

@media only screen and (max-width: 767.9px) {
  .accountTopLinks {
    padding: 4rem 0 4rem !important;
  }
  .accountLinks {
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3rem !important;
      li {
        width: 45% !important;
        a {
          color: #000;
          font-size: 1.6rem;
          opacity: 0.4;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          transition: opacity 0.3s ease, color 0.3s ease;
        }
      }
    }
  }
}
.accountBackground {
  background: #f9f7f3;
}

// ! PROFILE
.profilePage {
  display: flex;
  align-items: center;
  justify-content: center;

  .profilePageItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .profilePageTitle {
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 3rem;
  }

  .profileForm {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .profileField {
    position: relative;
    width: 50rem;

    input {
      width: 100%;
      height: 5.4rem;
      border-radius: 0.4rem;
      border: 1px solid #e0d5e2;
      background: transparent;
      outline: none;
      box-sizing: border-box;
      /* label yuxarıda, mətn isə ortada olsun deyə padding */
      padding: 1.3rem 4.4rem 1.1rem 2rem;

      color: #000;
      font-family: "Noto Serif Display";
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    input:disabled {
      cursor: default;
      background: transparent;
    }

    .profileFieldLabel {
      position: absolute;
      z-index: 10;
      left: 1.3rem;
      top: -0.9rem;
      color: #969696;
      font-family: "Noto Serif Display";
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background-color: #f9f7f3;
      padding: 0 0.5rem;
    }

    .profileEditBtn {
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1.7rem;
      height: 1.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background: transparent;
      padding: 0;
      cursor: pointer;
    }
  }

  .profileSaveBtn {
    // margin-top: 2.8rem;
    width: 50rem;
    height: 5.6rem;
    border-radius: 0.8rem;
    background: #000;
    border: none;
    cursor: pointer;

    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.0117rem; /* 143.69% */
    letter-spacing: 0.014rem;
    text-transform: uppercase;

    transition: background 0.2s ease;
  }
  .profileSaveBtn:hover {
    background: #711111;
  }
}
// ! PROFILE

// ? ADDRESS
.address {
  display: flex;
  align-items: center;
  justify-content: center;
  .addressItem {
    width: 75rem;
    .addressItemAdding {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        color: #000;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 2.64rem */
        letter-spacing: -0.044rem;
      }
      button {
        border-radius: 1rem;
        border: 1px solid #efe9f0;
        width: 17.3rem;
        height: 4.7rem;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        span {
          color: #1c1c1c;
          text-align: center;
          font-size: 1.3rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.013rem;
        }
        div {
          width: 2.8rem;
          height: 2.8rem;
          border-radius: 0.4rem;
          opacity: 0.3;
          background: #e0dddb;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            width: 1.1rem;
            height: 1.1rem;
            color: #000;
          }
        }
      }
      padding-bottom: 1.2rem;
    }
    .addressCards {
      .addressCard {
        height: 22.5rem;
        border-radius: 1rem;
        border: 1.5px solid #efe9f0;
        transition: border-color 0.25s ease;
        &:has(input[type="radio"]:checked) {
          border-radius: 1rem;
          border: 2px solid #af1414;
        }
        .addressCardInner {
          padding: 1.8rem;
          .addressCardInnerTop {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .addressCardInnerTitle {
              display: flex;
              align-items: center;
              gap: 0.75rem;
              span {
                margin-top: 0.2rem;
                color: #000;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: 2.4rem; /* 160% */
                letter-spacing: -0.015rem;
              }
              input[type="radio"] {
                accent-color: #af1414;
              }
            }
            .addressCardInnerEditAndDelete {
              display: flex;
              align-items: center;
              gap: 1.35rem;
              .addressCardInnerEditIcon {
                width: 1.7rem;
                height: 1.7rem;
                background-color: transparent;
              }
              .addressCardInnerDeleteIcon {
                width: 1.7rem;
                height: 1.7rem;
                background-color: transparent;
              }
            }
          }
          .addressCardInnerDetails {
            padding-left: 0.5rem;
            margin-top: 1.1rem;
            display: flex;
            flex-direction: column;
            gap: 1.1rem;
            .addressCardInnerDetail {
              display: flex;
              flex-direction: column;
              span {
                color: #2c2c2c;
                font-size: 1.1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 2.4rem; /* 218.182% */
                letter-spacing: -0.011rem;
                opacity: 0.5;
              }
              p {
                color: #000;
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 500;
                letter-spacing: -0.014rem;
              }
            }
          }
        }
      }
    }
  }
}

// ? ADDRESS

// * CHANGE PASS
.changePasswordPage {
  display: flex;
  align-items: center;
  justify-content: center;

  .changePasswordPageItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .changePasswordTitle {
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 3rem;
  }

  .changePasswordForm {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .changePasswordField {
    position: relative;
    width: 50rem;

    input {
      width: 100%;
      height: 5.4rem;
      border-radius: 0.4rem;
      border: 1px solid #e0d5e2;
      background: transparent;
      outline: none;
      box-sizing: border-box;
      padding: 1.3rem 4.4rem 1.1rem 2rem;

      color: #000;
      font-family: "Noto Serif Display";
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .changePasswordFieldLabel {
      position: absolute;
      z-index: 10;
      left: 1.3rem;
      top: -0.9rem;
      color: #969696;
      font-family: "Noto Serif Display";
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background-color: #f9f7f3;
      padding: 0 0.5rem;
    }
  }

  .changePasswordSaveBtn {
    width: 50rem;
    height: 5.6rem;
    border-radius: 0.8rem;
    background: #000;
    border: none;
    cursor: pointer;

    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.0117rem; /* 143.69% */
    letter-spacing: 0.014rem;
    text-transform: uppercase;

    transition: background 0.2s ease;
  }

  .changePasswordSaveBtn:hover {
    background: #711111;
  }
}
// * CHANGE PASS

// ?MOBILE
@media only screen and (max-width: 767.9px) {
  .address {
    .addressItem {
      width: 100% !important;
      .addressCards {
        .addressCard {
          height: 23.5rem !important;

          .addressCardInner {
            padding: 2rem 3rem 2rem 2rem !important;
            .addressCardInnerTop {
              .addressCardInnerEditAndDelete {
                gap: 2.2rem !important;
              }
            }
          }
        }
      }
    }
  }
}
// ?MOBILE

// *orderliST

.chevron-icon {
  display: inline-flex;
  transition: transform 0.5s ease;
}

.chevron-icon.open {
  transform: rotate(360deg);
}

.orderList {
  .order-list-container {
    margin: 0 7rem;
    .order-list-title {
      color: #000;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 2.64rem */
      letter-spacing: -0.044rem;
    }
    .order-table {
      margin-top: 2rem;
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 0.2rem;
    }
    .orderHeader {
      border-radius: 0.8rem !important;
      background: #fff;
      th {
        padding: 1.8rem 2.9rem;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        text-align: left;
      }
    }

    .orderRow {
      border-radius: 0.8rem;
      background: #fff;
      cursor: pointer;
      td {
        padding: 2.67rem 2.9rem;
        color: #000;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .order-status-cell {
      display: flex;
      gap: 4.1rem;
      align-items: center;
    }

    .accordionRow td {
      padding: 0;
    }

    .order-details {
      padding: 3.42rem 2.9rem;
      background: #fff;
    }

    .order-details-grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 3.4rem;
    }
    .products-section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-height: 300px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 2px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #681616;
        border-radius: 4px;
      }
    }
    .product-cardLine {
      width: 100% !important;
      height: 0.1rem !important;
      // background: #efe9f0;
      background: #000 !important;
    }

    .product-card {
      display: flex;
      justify-content: space-between;
      margin-right: 4.8rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid #EFE9F0;
    }
    .product-card:last-child {
      border-bottom: none !important;
    }

    .product-info {
      display: flex;
      gap: 1.5rem;
    }
    .product-image {
      width: 11.8rem;
      height: 11.8rem;
      object-fit: cover;
      border-radius: 0.6rem;
      img {
        width: 100%;
        border-radius: 0.6rem;
        height: 100%;
      }
    }

    .product-text {
      padding: 2.4rem 0;
      .product-name {
        color: #000;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 3rem; /* 166.667% */
        letter-spacing: -0.055rem;
      }
      .product-specs {
        padding-top: 2.4rem;
        display: flex;
        gap: 5.6rem;
        span {
          color: #000;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: 2rem; /* 142.857% */
          letter-spacing: -0.04rem;
        }
      }
    }

    .product-actions {
      padding: 2.4rem 0;
      display: flex;
      flex-direction: column;
      gap: 1.9rem;
      a {
        color: #000;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem; /* 142.857% */
        letter-spacing: -0.04rem;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: 0.2rem;
        text-underline-position: from-font;
      }
      span {
        color: #000;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 3rem; /* 136.364% */
        letter-spacing: -0.055rem;
      }
    }

    .order-summary {
      background: #faf8f4;
      border-radius: 0.8rem;
      height: 28.6rem;
    }
    .order-summaryItems {
      padding: 4.9rem 3.6rem;
      .summary-title {
        color: #000;
        padding: 0 2rem;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 3rem;
        letter-spacing: -0.055rem;
        padding-bottom: 1.6rem;
      }

      .summary-items {
        padding: 0 2.8rem 0 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        .summary-row {
          display: flex;
          justify-content: space-between;
          color: var(--Primary, #0d0d0d);
          font-feature-settings: "liga" off, "clig" off;
          font-size: 1.3rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.013rem;
        }
      }
    }
    .summary-total {
      margin-top: 2.6rem;
      background: #681616;
      color: #fff;
      padding: 2.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 0.6rem;
      height: 5.1812rem;
      color: var(--Colors-White, #fff);
      text-align: center;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 2.2rem; /* 137.5% */
      letter-spacing: -0.016rem;
    }
  }
}
